@import "./VARS";

.register__left,
.login__left {
    @media (max-width: 768px) {
        display: none;
    }

    &__intro {
        text-align: center;
        padding: 0 40px;



        &__logo {
            @include flex();
            margin: 10px 0;
        }

        &__title {
            color: $main_color;
            font-size: 45px;
            font-weight: 700;
            text-transform: capitalize;
        }

        &__text {
            text-transform: lowercase;
            color: #999;
        }
    }
}

.login__form,
.register__form {}

.login,
.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: calc(100vh - 60px);
    align-items: center;
    background-color: #f1f1f1;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0;
    }

    &__right {
        text-align: center;

        @media (max-width: 768px) {
            margin: 0 30px;
        }

        &__form {
            @include flex($dir: column);
            background-color: #fff;
            padding: 40px 0;
            box-shadow: 1px 2px 10px 1px #ccc;
            margin-right: 40px;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                @include flex($dir: column);
                margin: 0;

            }

            input {
                width: 50%;
                margin: 10px 0;
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 10px;

                @media (max-width: 768px) {
                    width: 90%;
                }
            }

            &__submit {
                background-color: transparent;
                border: 2px solid $main_color  !important;
                border-radius: 40px !important;
                color: $main_color;
                font-weight: 600;
                text-transform: capitalize;
                transition: $reg_transition;

                &:hover {
                    background-color: $main_color;
                    color: #fff;
                }
            }

            &__createNewAccbtn {
                margin-right: 40px;
                background-color: #18d0dd;
                color: #fff;
                font-weight: 700;
                width: fit-content;
                margin: 30px auto;
                padding: 20px;
                border-radius: 30px;
                text-transform: capitalize;
                transition: $reg_transition;

                &:hover {
                    background-color: darken(#18d0dd, 10%);
                    color: #fff;
                }
            }
        }


    }
}

.login {
    &__left {}

    &__right {}
}

.register {
    &__left {}

    &__right {
        text-align: center;

        &__form {


            input {}

            &__submit {
                &:hover {}
            }

            &__loginPageBtn {
                background-color: transparent;
            }
        }
    }
}

.google_account{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 600;
    transition: $reg_transition;
    cursor: pointer;
    &:hover{
        background-color: #000;
        color: $main_color;
        svg{
            color: #fff;
        }
    }
    svg{
        margin-right: 10px;
        transition: $reg_transition;

    }
}