.user__bottom__postsGroup,
.mainPage__middle {
    @media (max-width: 768px) {
        padding: 0 !important;
    }

    &__posts {
        &__container {
            display: grid;
            grid-template-columns: 1fr;
            align-items: end;
            &__post {
                margin-top: 20px;
                background-color: #fff;
                transition: $reg_transition;
                overflow: hidden;
                box-shadow: $light_shadow;
                @media (max-width: 768px) {
                    
                }
                &__userInfo {
                    padding: 15px;
                    display: flex;
                    align-items: center;

                    &__img {
                        margin-right: 15px;
                    }
                    &__left{
                        &__name {
                            color: $main_color;
                            text-transform: capitalize;
                            font-weight: 600;
                            font-size: rem(15);
                        }
                        &__time{
                            margin-top: rem(5);
                            font-size: rem(12);
                            color: #999;
                        }
                    }
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__content {
                    padding: 15px;
                    padding-top: 0;
                }

                &__numbers {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;

                    &__likesNums,
                    &__commentsNums {
                        margin-left: 20px;
                        color: #999;
                    }
                }

                &__actions {
                    display: flex;
                    align-items: center;

                    &__item {
                        flex: 1;
                        padding: 10px 20px;
                        cursor: pointer;
                        transition: $reg_transition;
                        margin: 0 10px;
                        font-weight: 600;
                        @include flex($justify: space-between);
                        &.active,
                        &:hover {
                            background-color: #eee;
                        }
                        button{
                            font-size: clamp(5px,10px ,15px);
                        }
                        &.active {
                            color: $main_color;
                            svg{
                                transform: scale(1);
                                animation: reactions .5s linear;
                            }
                        }
                    }
                }

            }

            &__commentsGroupe {
                width: 0;
                height: 0;
                overflow: hidden;
                opacity: 0;
                transform: translateY(300px);
                transition: $reg_transition;
                background-color: #fff;

                &.active {
                    transform: translateY(0);
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    transition: $reg_transition;
                }

                &__writeComment {
                    display: flex;
                    align-items: center;
                    padding: 20px;

                    &__userImg {}

                    &__input {
                        margin-left: 10px;
                        width: 100%;
                        display: flex;


                        input {
                            width: 100%;
                            border: none;
                            background-color: #eee;
                            padding: 10px;
                            border-radius: 20px;

                            &:first-child {
                                flex: 4;
                                margin-right: 10px;
                            }

                            &:last-child {
                                flex: 1;
                                margin-left: 10px;
                                transition: $reg_transition;
                                font-weight: 600;

                                &:hover {
                                    background-color: darken(#eee, 10%);
                                }
                            }
                        }
                    }
                }

                &__comments {
                    padding-bottom: 20px;

                    &__comment {
                        display: flex;
                        margin-bottom: 20px;
                        column-gap: rem(15);
                        &__img {
                            width: 70px;
                            margin-left: 20px;
                        }
                        
                        &__details {
                            border: 1px solid #ede9e9;
                            width: calc(100% - 100px);
                            margin-left: 10px;
                            // background-color: #000;
                            padding: 10px;
                            position: relative;
                            &::before{
                                content: '';
                                border-bottom: 10px solid transparent;
                                border-right: 11px solid #ede9e9;
                                border-top: 10px solid transparent;
                                left: -11px;
                                top: 10px;
                                position: absolute;
                            }
                            &::after{
                                content: '';
                                border-bottom: 8px solid transparent;
                                border-right: 9px solid #fff;
                                border-top: 8px solid transparent;
                                left: -9px;
                                top: 12px;
                                position: absolute;
                            }
                            &__top{
                                @include flex($justify:flex-start,$gap:20);
                                &__name {
                                    text-transform: capitalize;
                                    font-weight: 600;
                                    font-size: rem(13);
                                    padding-bottom: rem(10);
                                }
                                &__time{
                                    color: #999;
                                    font-weight: 400;
                                    font-size: rem(12);
                                    padding-bottom: rem(10);
                                }
                            }

                            &__commentContent {
                                font-size: 13px;
                                text-transform: lowercase;
                                color: #999;
                            }
                        }
                    }
                }
            }

        }
    }
}

@keyframes reactions {
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(1.5);
    }
    80%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}